### Notebook - 1f (New feature: store_type)

Breaking the stores into different store types: supermarket, big box (ie Target, Walmart, Costco, Sam's Club), drugstore retail store (which is just a 4 wall liquor store), and convenience store (ie gas station, quick mart).

In [1]:
# Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',95)
pd.set_option('display.max_rows',None)
import pickle
import re
import datetime

In [2]:
# Opening the pickled file
f = open('df4.pkl', 'rb')
df4 = pickle.load(f)
f.close()

In [4]:
df4.head()

,invoice/item_number,date,store_number,item_number,item_description,bottles_sold,sale_dollars,volume_sold_liters,store_name,cat_name,open_store
0,S04763500007,2012-03-27,2534,11788,Black Velvet,6,94.02,10.50,Hy-Vee Drugtown / Urbandale,whiskey,closed
1,S27474100012,2015-08-25,4924,89194,Jose Cuervo Especial Reposado Flask,4,33.00,1.50,Abby Lea's,tequila,closed
2,S10731000040,2013-02-21,4652,34449,Ketel One Citroen,2,40.48,1.50,Brady Mart Food & Liquor,vodka,open
3,S17037900080,2014-01-27,4794,32236,Seagrams Extra Dry Gin,1,8.99,0.75,Smokin' Joe's #17 Tobacco and Liquor Outlet,gin,open
4,S14396900023,2013-09-09,2647,13038,Canadian Reserve Whisky,6,80.94,10.50,Hy-Vee #7 / Edgewood Cedar Rapids,whiskey,open

In [5]:
# Cleaning store_name so object is in all lower case letters 
df4['store_name'] = df4['store_name'].str.lower()

In [8]:
# Creating and cleaning the store names into a store type column

def contains(string, match_list):
    for match in match_list:
        if match in string:
            return True
    return False

def store_cleaner(value):
    """
    To be applied to a dataframe column to clean
    alcohol categories so they are simpler.
    """
    import pandas as pd
    
    if contains(value, ['hy-vee', 'chopper', 'supermarket', 'supermarkets', 'pioneer','fareway','dahl\'s', 'brooklyn','hometown', 'freeman','fredericksbury','brothers','brother\'s']):
        return 'supermarket'
    elif contains(value, ['wal-mart','w-mart', 'target', 'sam\'s','costco']):
        return 'big box'
    elif contains(value, ['walgreens', 'cvs', 'hartig']):
        return 'drugstore'
    elif contains(value, ['casey\'s','yesway', 'station', 'stop', 'mart', 'go', 'quik', 'todd\'s', 'quick', 'mart', 'kwik',' express', 'flashmart', 'fuel', '7-eleven', 'bp', '4']):
        return 'convenience store'
    else:
        return 'retail store'  
    
df4['store_type'] = df4['store_name'].apply(store_cleaner)

In [9]:
# Looking at a summary of the newly created store_type column
df4['store_type'].value_counts()

supermarket          8289391
retail store         6700292
convenience store    3233610
big box              1517205
drugstore             355151
Name: store_type, dtype: int64

In [10]:
df4.head()

,invoice/item_number,date,store_number,item_number,item_description,bottles_sold,sale_dollars,volume_sold_liters,store_name,cat_name,open_store,store_type
0,S04763500007,2012-03-27,2534,11788,Black Velvet,6,94.02,10.50,hy-vee drugtown / urbandale,whiskey,closed,supermarket
1,S27474100012,2015-08-25,4924,89194,Jose Cuervo Especial Reposado Flask,4,33.00,1.50,abby lea's,tequila,closed,retail store
2,S10731000040,2013-02-21,4652,34449,Ketel One Citroen,2,40.48,1.50,brady mart food & liquor,vodka,open,convenience store
3,S17037900080,2014-01-27,4794,32236,Seagrams Extra Dry Gin,1,8.99,0.75,smokin' joe's #17 tobacco and liquor outlet,gin,open,retail store
4,S14396900023,2013-09-09,2647,13038,Canadian Reserve Whisky,6,80.94,10.50,hy-vee #7 / edgewood cedar rapids,whiskey,open,supermarket

In [11]:
# Reassigning file
df5 = df4.copy()

In [12]:
# Writing/saving as a pickled file 
f = open('df5.pkl', 'wb')
pickle.dump(df5, f)
f.close()